@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

#image-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 10px;
}

#frc, #robot {
    height: 200px;
}

#logo-div {
	position: relative;
}

body {
  text-align: center;
}

#penguin {
	position: absolute;
	top: -10px;
	right: 10px;

	width: 50px;
	height: auto;

	transform: rotate(-20deg);
}

h1, p, li {
	color: black;
}

body {
	background-color: white;
}

h1 {
	font-family: "Impact";
}

ul {
	text-align: left;
}

p, li {
	font-family: "Roboto";
}
