@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=VT323&display=swap');

#images {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
}

img {
	border: 4px solid white;
	max-width: 100%;
	height: auto;
}

h1, p, li, a {
	color: lime;
	text-decoration: none;
}

body {
	background-color: black;
}

h1 {
	font-family: "VT323";
}

p, li {
	font-family: "VT323";
}
