@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/stormfaze');

h1, p, li, a, h2 {
	font-family: "Stormfaze", "Libre Franklin", "Helvetica Neue", "Trebuchet MS", sans-serif;
}

h2 {
	color: white;
	text-decoration: none;
}

a {
	text-decoration: none;
}

img {
	border: white double 4px;
}

a:visited {
	color: blue;
}
