@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

h1, p, li, a, h2 {
	font-family: "Libre Franklin", "Helvetica Neue", "Trebuchet MS", sans-serif !important;
}

h2 {
	color: white !important;
	text-decoration: none !important;
}

a {
	text-decoration: none !important;
}

img {
	border: white double 4px;
}

a:visited {
	color: blue;
}
