#images {
	display: flex;
	gap: 15px;
}

img {
	border: 4px solid white;
}

h1, p, li {
	color: lime;
}

body {
	background-color: black;
}

h1 {
	font-family: "Rubik Broken Fax";
}

p, li {
	font-family: "Rubik";
}
